#navbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#navbar .navbar-brand {
  color: #ea1c2c;
}

#navbar .nav-link:hover {
  color: #ea1c2c;
}

#navbar.active {
  background-color: #dec0de;
  transition: all 0.5s;
}
